.container {
    margin-top: 60px;
    background-color: snow;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    -webkit-box-shadow: -7px 7px 26px 0px rgba(150,150,150,1);
    -moz-box-shadow: -7px 7px 26px 0px rgba(150,150,150,1);
    box-shadow: -7px 7px 26px 0px rgba(150,150,150,1);
  }
  .tittle {
    font-family: "Bookman Old Style", sans-serif;
    margin: 30px;
    font-size: 45px;
    font-weight: bold;
    color: darkred;
  }

  body{
    background-image: url("../images/736611.jpg");  
    font-family: "Bookman Old Style", sans-serif;
    background-size: cover;
  }
 